UnitDefs(
	name: "Dragon",
	health: 3,
	loot: (
		score: 1,
	),
	weapon_slots: [
		(
			weapon: Laser(damage: 1, cooldown: 1.0),
			transform: (
				translation: [0.0, 20.0], 
				rotation: (0.0, -1.0),
			),
		),
	]
)