 #![enable(implicit_some)]
Unit(
	name: "Dragon",
	health: 1,
	loot: (
		score: 1,
	),
	body: "images/ships/ship2.png",
	weapon_slots: [
		(
			weapon: Asset("weapons/laser.weapon.ron"),
			position: (0.0, 20.0), 
		),
	]
)
