 #![enable(implicit_some)]
Unit(
	name: "Player",
	health: 10,
	loot: (
		score: 1,
	),
	body: "images/ships/ship1.png",
	weapon_slots: [
		(
			weapon: Asset("weapons/laser.weapon.ron"),
			position: (0.0, 15.0), 
			rotation: 0.0,
		),
		(
			position: (-15.0, -4.0), 
			rotation: 0.0,
		),	
		(
			position: (15.0, -4.0), 
			rotation: 0.0,
		),
	]
)
