 #![enable(implicit_some)]
Unit(
	name: "Player",
	health: 3,
	loot: (
		score: 1,
	),
	color: (1.0, 0.0, 0.0),
	weapon_slots: [
		(
			weapon: Asset("weapons/laser.weapon.ron"),
			position: (0.0, 20.0), 
			rotation: 90.0,
		),
		(
			position: (-15.0, 20.0), 
			rotation: 90.0,
		),	
		(
			position: (15.0, 20.0), 
			rotation: 90.0,
		),
	]
)
