 #![enable(implicit_some)]
Unit(
	name: "Predator",
	health: 2,
	loot: (
		score: 3,
	),
	body: "images/ships/ship3.png",
	weapon_slots: [
		(
			weapon: Asset("weapons/rocket_launcher.weapon.ron"),
			position: (5.0, 20.0), 
			rotation: -45.0,
		),
		(
			weapon: Asset("weapons/rocket_launcher.weapon.ron"),
			position: (-5.0, 20.0), 
			rotation: 45.0,
		),
		(
			weapon: Asset("weapons/laser.weapon.ron"),
			position: (0.0, 20.0), 
			rotation: 0.0,
		),
	]
)
