UnitDefs(
	name: "Predator",
	health: 2,
	loot: (
		score: 3,
	),
	color: (0.3, 0.3, 0.3),
	weapon_slots: [
		(
			weapon: Laser(damage: 3, cooldown: 1.0),
			transform: (
				translation: [0.0, 20.0], 
				rotation: (0.5, -1.0),
			),
		),
		(
			weapon: Laser(damage: 3, cooldown: 1.0),
			transform: (
				translation: [0.0, 20.0], 
				rotation: (-0.5, -1.0),
			),
		),
	]
)